@{
    ViewBag.Title = "Home Page";
}


<script type="text/html" id="reason-template">
    <div class="reasonCanvas" data-bind="click: $parent.reasonSelect.bind($data)">
        <div class="reasonIconSpace"></div>
        <div class="reasonTextSpace"><span data-bind="text: $data.ReasonId"></span></div>
    </div>
</script>

<script type="text/html" id="user-template">
    <div class="userCanvas">
        <div class="userIcon"><span data-bind="text: $data.UserId[0].toUpperCase()"></span></div>
        <div class="userName"><span data-bind="text: $data.UserId + ($data.unresolvedPotentials().length ? '(' + $data.unresolvedPotentials().length + ')' : '' )"></span></div>
    </div>
</script>


<script type="text/html" id="response-template">
    <div class="responseCanvas" data-bind="click: $parent.responseSelect.bind($data)">
        <div class="responseIcon"><span data-bind="text: $data.ResponseId[0].toUpperCase()"></span></div>
        <div class="responseName"><span data-bind="text: $data.ResponseId"></span></div>
    </div>
</script>


<div class="inputCanvas">
    <div><span data-bind="text: user().UserId + ' : ' + user().Response().ResponseId "></span>
    <button data-bind="click: responseReset()">Reset</button>
    <button class="btn btn-primary" data-bind="click: getResponses">Responses</button>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.991 13.991c-.05.69-1.269 1-1.998 1H5.665l-1.669-1V7.995c1.36 0 2.11-.75 3.129-1.879 1.229-1.359 1.139-2.558.879-4.127-.08-.5.5-1 1-1 .829 0 1.998 2.729 1.998 3.998l-.02 1.03c0 .689.33.969 1.02.969H14c.63 0 .98.36 1 .999l-1 5.996-.01.01zm0-7.995h-2.018l.02-.98C11.992 3.719 10.822 0 8.993 0c-.58 0-1.169.3-1.559.77-.36.41-.5.909-.42 1.409.25 1.479.28 2.278-.629 3.278-1 1.089-1.48 1.549-2.389 1.549H2c-1.061-.01-2 .929-2 1.988v3.998c0 1.06.94 1.999 1.999 1.999h1.719l1.439.86c.16.089.33.139.52.139h6.325c1.13 0 2.839-.5 2.999-1.879l.979-5.946c.02-.08.02-.14.02-.2-.03-1.17-.84-1.969-1.999-1.969h-.01z"></path>
    </svg>
    <div>
        <div>
            Private:
            <input type="checkbox" data-bind="checked: IsPrivate">
        </div>
        <div>
            alertUserLinemanager:
            <input type="checkbox" data-bind="checked: alertUserLinemanager">
        </div>
        <div>
            alertTargetsLinemanager:
            <input type="checkbox" data-bind="checked: alertTargetsLinemanager.value">
        </div>

        <div>
            alertUsers:
            <div class="userContainer">
                <div data-bind="foreach: alertUsers">
                    <div class="userAction" data-bind="click: $parent.removeFromArray.bind({array:$root.alertUsers, key: 'UserId', value: $data.UserId})">
                        <div data-bind="template: {name:'user-template', data: $data}"></div>
                    </div>
                </div>
                <input type="text" class="form-control" data-bind="value: searchAlertUsers, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchAlertUsers,searchAwaitingFlag:config.awaitingAlertUsers,searchResults
:alertUsers})}" />
            </div>


        </div>
        <div>
            From:
            <button data-bind="click: addUser.bind(sources)">+</button>
            <div class="userContainer">
                <div data-bind="foreach: sources">
                    <div class="userAction" data-bind="click: $parent.removeFromArray.bind({array:$root.sources, key: 'UserId', value: $data.UserId})">
                        <div data-bind="template: {name:'user-template', data: $data}"></div>
                    </div>
                </div>
                <input type="text" class="form-control" data-bind="value: searchSource, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchSource,searchAwaitingFlag:config.awaitingSource,searchResults
:sources})}" />
            </div>
        </div>
        <div>
            To:
            <!-- <ul data-bind="template: {name:'user-template', foreach: targets}">
    <ul data-bind="foreach: targets">
        <li><span data-bind="text: $data.UserId, click: $parent.teamMemberDeSelect.bind()"></span></li>
    </ul>-->

            <div class="userContainer">
                <div data-bind="template: { name:'user-template',foreach: targets} "></div>
                <input type="text" class="form-control" data-bind="value: searchTarget, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchTarget,searchAwaitingFlag:config.awaitingTarget,searchResults 
:targets})}" />

            </div>
            

        </div>
        <div>
            Reason:
            <div class="reasonContainer">
                <!--
            <div data-bind="foreach: reasonsSelected()">
                <div class="reasonCanvas">
                    <div class="reasonIconSpace"></div>
                    <div><span data-bind="text: $data.ReasonId, click: $parent.reasonSelect.bind($data)"></span></div>
                </div>
            </div>
                -->

                <div data-bind="template: { name:'reason-template', foreach: reasonsSelected() }"></div>
            </div>
        </div>


        <!-- ko if: config.docMode === _MODE.CREATE -->
        <div>
            <p>Available:</p>
            <div class="reasonContainer">
                <div data-bind="template: { name:'reason-template', foreach: reasonsNotSelected() }"></div>
            </div>

        </div>
        <!-- /ko -->
        <div>
            <textarea class="commentsBox" data-bind="text: comment, enable: config.docMode === _MODE.CREATE" id="" cols="30"></textarea> <br>
        </div>

        <!-- ko if: ((config.docMode === _MODE.RESPOND) && (user().Response().ResponseId === null)) -->
        <div>
            Response:<span data-bind="text: (user().Response().ResponseId === null) "></span>
            <div class="responseContainer">
                <!--
            <div data-bind="foreach: reasonsSelected()">
                <div class="reasonCanvas">
                    <div class="reasonIconSpace"></div>
                    <div><span data-bind="text: $data.ReasonId, click: $parent.reasonSelect.bind($data)"></span></div>
                </div>
            </div>

                            -->
                <div data-bind="template: { name:'response-template', foreach: responses }"></div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: config.awaitingResponses -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
        <!-- /ko -->

        <div>
            <p>Agrees:</p>
            <!-- <ul data-bind="template: {name:'user-template', foreach: targets}"> -->
            <!--
        <ul data-bind="foreach: agrees">
            <li><span data-bind="text: $data.UserId"></span></li>
        </ul>
        -->
            <div class="userContainer" data-bind="template: {name:'user-template',foreach: agrees}"></div>

        </div>
        <div>
            TeamMembers:
            <!--
        <ul data-bind="foreach: teammembers">
            <li><span data-bind="text: $data.UserId, click: $parent.teamMemberSelect.bind()"></span></li>
        </ul>
            -->
            <div class="userContainer" data-bind="template: {name:'user-template',foreach: teammembers}"></div>
        </div>

    </div>

    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/app-init.js"></script>

</div>


