@{
    ViewBag.Title = "Home Page";
}


<script type="text/html" id="reason-template">
    <div class="reasonCanvas" data-bind="click: $parent.reasonSelect.bind($data)">
        <div class="reasonIconSpace"></div>
        <div class="reasonTextSpace"><span data-bind="text: $data.ReasonText"></span></div>
    </div>
</script>

<script type="text/html" id="user-template">
    <div class="userCanvas">
        <div class="userIcon"><span data-bind="text: $data.UserId[0].toUpperCase()"></span></div>
        <div class="userName"><span data-bind="text: $data.UserId + ($data.unresolvedPotentials().length ? '(' + $data.unresolvedPotentials().length + ')' : '' )"></span></div>
    </div>
</script>


<script type="text/html" id="agrees-template">
    <div class="userCanvas">
        <div class="userIcon"><span data-bind="text: $data.UserId[0].toUpperCase()"></span></div>
        <div class="userName"><span data-bind="text: $data.ResponseText"></span></div>
    </div>
</script>


<script type="text/html" id="response-template">
    <div class="responseCanvas" data-bind="click: $parent.responseSelect.bind($data)">
        <div class="responseIcon"><span data-bind="text: $data.ResponseId"></span></div>
        <div class="responseName"><span data-bind="text: $data.ResponseText"></span></div>
    </div>
</script>

<script>
    var targetAppreciateId = @Model.AppreciateId;
</script>
<div class="inputCanvas">
    <span>@Model.AppreciateId</span>
    <!-- ko if: resources.Save.awaiting -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
    </div>
    <!-- /ko -->

    <div>
        <div>
            <span data-bind="text: user().UserId + ' : ' + user().Response().ResponseText,click: responseReset.bind() "></span>
        </div>
        <!--<button class="btn btn-primary" data-bind="click: getResponseTypes">getResponseTypes</button>
    <button class="btn btn-primary" data-bind="click: getReasonTypes">getReasonTypes</button>-->
        <!-- ko if: ((config.docMode() === _MODE.RESPOND) && (user().Response().ResponseId === null)) -->
        <div>
            Response:<span data-bind="text: (user().Response().ResponseId === null) "></span>
            <div class="responseContainer">
                <!--
            <div data-bind="foreach: reasonsSelected()">
                <div class="reasonCanvas">
                    <div class="reasonIconSpace"></div>
                    <div><span data-bind="text: $data.ReasonId, click: $parent.reasonSelect.bind($data)"></span></div>
                </div>
            </div>

                            -->
                <div data-bind="template: { name:'response-template', foreach: resources.ResponseTypes.data }"></div>
            </div>
        </div>
        <!-- /ko -->
        <button class="btn btn-primary" data-bind="click: saveAppreciate">saveAppreciate</button>
        <button class="btn btn-primary" data-bind="click: getAppreciate">getAppreciate</button>


    </div>
    <div>
        <div>
            Private:
            <input type="checkbox" data-bind="checked: IsPrivate">
        </div>
        <div>
            alertUserLinemanager:
            <input type="checkbox" data-bind="checked: alertUserLinemanager">
        </div>
        <div>
            alertTargetsLinemanager:
            <input type="checkbox" data-bind="checked: alertTargetsLinemanager.value">
        </div>

        <div>
            alertUsers:
            <div class="userContainer">
                <div data-bind="foreach: alertUsers">
                    <div class="userAction" data-bind="click: $parent.removeFromArray.bind({array:$root.alertUsers, key: 'UserId', value: $data.UserId})">
                        <div data-bind="template: {name:'user-template', data: $data}"></div>
                    </div>
                </div>
                <input type="text" class="form-control" data-bind="value: searchAlertUsers, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchAlertUsers,searchAwaitingFlag:config.awaitingAlertUsers,searchResults
:alertUsers})}" />
            </div>


        </div>
        <div>
            From:
            <button data-bind="click: addUser.bind(sources)">+</button>
            <div class="userContainer">
                <div data-bind="foreach: sources">
                    <div class="userAction" data-bind="click: $parent.removeFromArray.bind({array:$root.sources, key: 'UserId', value: $data.UserId})">
                        <div data-bind="template: {name:'user-template', data: $data}"></div>
                    </div>
                </div>
                <input type="text" class="form-control" data-bind="value: searchSource, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchSource,searchAwaitingFlag:config.awaitingSource,searchResults
:sources})}" />
            </div>
        </div>
        <div>
            To:
            <!-- <ul data-bind="template: {name:'user-template', foreach: targets}">
        <ul data-bind="foreach: targets">
            <li><span data-bind="text: $data.UserId, click: $parent.teamMemberDeSelect.bind()"></span></li>
        </ul>-->

            <div class="userContainer">
                <div data-bind="template: { name:'user-template',foreach: targets} "></div>
                <input type="text" class="form-control" data-bind="value: searchTarget, event: {keyup: onEnterKey.bind({Event:event,function:getUserSearch,searchTerm:searchTarget,searchAwaitingFlag:config.awaitingTarget,searchResults
:targets})}" />

            </div>


        </div>
        <div>
            Reason:
            <div class="reasonContainer">
                <!--
            <div data-bind="foreach: reasonsSelected()">
                <div class="reasonCanvas">
                    <div class="reasonIconSpace"></div>
                    <div><span data-bind="text: $data.ReasonId, click: $parent.reasonSelect.bind($data)"></span></div>
                </div>
            </div>
                -->

                <div data-bind="template: { name:'reason-template', foreach: reasonsSelected() }"></div>
            </div>
        </div>


        <!-- ko if: config.docMode === _MODE.CREATE -->
        <div>
            <p>Available:</p>
            <div class="reasonContainer">
                <div data-bind="template: { name:'reason-template', foreach: reasonsNotSelected() }"></div>
            </div>

        </div>
        <!-- /ko -->
        <div>
            <textarea class="commentsBox" data-bind="text: comment, enable: config.docMode === _MODE.CREATE" id="" cols="30"></textarea> <br>
        </div>

        <!-- ko if: config.awaitingResponses -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
        <!-- /ko -->

        <div>
            <p>Agrees:</p>
            <!-- <ul data-bind="template: {name:'user-template', foreach: targets}"> -->
            <!--
        <ul data-bind="foreach: agrees">
            <li><span data-bind="text: $data.UserId"></span></li>
        </ul>
        -->
            <div class="userContainer" data-bind="template: {name:'agrees-template',foreach: resources.Agrees.data}"></div>

        </div>

        <!-- ko if: resources.Load.awaiting -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
        </div>
        <!-- /ko -->
    </div>

    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/app-init.js"></script>

</div>


